<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>爱福金融</title>
    <meta name="Keywords" content="爱福金融,微盘,投资理财,微交易,开户,资产管理,原油,铜,银,外汇,黄金" />
    <meta name="Description" content="爱福金融" />
    <link rel='shortcut icon' href='${basePath}includes/lib-source/iffx/images/favicon.jpg' type='image/x-icon'>
    <link href="${basePath}includes/lib-source/iffx/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="${basePath}includes/lib-source/jquery/jquery.js"></script>
    <script type="text/javascript" src="${basePath}includes/lib-source/iffx/layer/layer.js"></script>
    <link href="${basePath}includes/lib-source/iffx/layer/layer.css" rel="stylesheet" />
    <script src="${basePath}includes/lib-source/iffx/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="${basePath}includes/lib-source/iffx/js/PageBase.js"></script>
</head>
<body>
<?include("header.html"){}?>
    ${layoutContent}
<?include("footer.html"){}?>
</body>
</html>